<blockquote class="blockquote text-center">
  <h1 class="mb-0">Cadastro de Usuários</h1>
</blockquote>
<hr />

<table class="table table-striped" align="center">
  <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Celular</th>
            <th>E-mail</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Sexo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.nome}}</td>
            <td>{{user.cpf}}</td>
            <td>{{user.celular}}</td>
            <td>{{user.email}}</td>
            <td>{{user.endereco}}</td>
            <td>{{user.cidade}}</td>
            <div *ngIf="user.sexo == 'M'">
              <td>Masculino</td>
            </div>
            <div *ngIf="user.sexo == 'F'">
              <td>Feminino</td>
            </div>
            <td><button class="btn btn-info" data-toggle="modal" data-target="#modalUser" (click)="editUser(user)">Editar</button></td>
        </tr>
    </tbody>
    <tfoot>
      <br />
      <button type="button" data-toggle="modal" data-target="#modalUser" class="btn btn-primary" (click)="initNewUser()">
        Criar Novo Usuário
      </button>
    </tfoot>
</table>

<app-crud-user [user]="userToEdit" (usersUpdated)="updateUserList($event)"></app-crud-user>